<p>employee-details !</p>

<html>

<div>

    <div>

        <label><b>ID :</b></label>{{employee.id}}<br>
        <label><b>NAME :</b></label>{{employee.name}}<br>
        <label><b>AGE :</b></label>{{employee.age}}<br>
        <label><b>ADDRESS :</b></label>{{employee.address}}<br>
        <label><b>CONTACT :</b></label>{{employee.phone}}<br>
        <label><b>SALARY :</b></label>{{employee.salary}}<br>
        <label><b>DEPARTMENT :</b></label>{{employee.department}}<br>






    </div>
</div>

</html>
