<nav class = "navbar bg-dark navbar-dark navbar-expand-sm">  
    <a class = "navbar-brand" href="#"> LOGO </a>  
    <ul class = "navbar-nav me-auto">  
    <li class = "nav-item">  
    <a class = "nav-link" href = "employee"> Employees </a>  
    </li>  
    <li class = "nav-item">  
    <a class = "nav-link" href = "create-employee"> New Employee </a>  
    </li>  
    <li class = "nav-item">  
    <a class = "nav-link" href = "#"> Third </a>  
    </li>  
    </ul>  
    <form class="d-flex">  
    <input class="form-control me-2" type="text" placeholder="Search">  
    <button class="btn btn-success" type="button">Search</button>  
    </form>  
    </nav>  
<div class="container">
<!-- <app-employee-list></app-employee-list></div> -->
<!-- <app-employee-create></app-employee-create>
<app-employee-update></app-employee-update> -->
<router-outlet></router-outlet> 
<footer class="footer">
<div>
<span>All Right Reserve 2024 Bharat Bhanvase </span>

</div>

</footer>
